@import url(../../utils/base.css);

.tk_noRoutesMatch-page {
    align-items: center;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.tk_noRoutesMatch-page img {
    height: 15rem;
}

.tk_noRoutesMatch-page p {
    color: rgb(177, 124, 124);;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .tk_noRoutesMatch-page img {
        height: 10rem;
    }

    .tk_noRoutesMatch-page p {
        font-size: 0.8rem;
        margin: 0.5rem 0rem;
    }
}