@import url(../../utils/base.css);

.tn_header-component {
    background-image: url(https://images.unsplash.com/photo-1511285605577-4d62fb50d2f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80);
    background-size: cover;
    box-shadow: 0px 0px 3px 0px var(--black);
    position: relative;
}

.tn_header-content {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.tn_header-heading {
    color: var(--white-color);
    text-decoration: none;
}

.tn_header-searchBar {
    border: transparent;
    box-shadow: 0px 0px 4px 0px var(--light-gray);
    min-width: 30rem;
    outline: none;
    padding: 0.5rem 1rem;
}

.tn_icons-section {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.tn_header-search-icon {
    display: none;
}

.tn_header-profile-icon {
    border: 2px solid var(--white-color);
    margin: 0;
}

.header-icon {
    cursor: pointer;
    color: var(--white-color);
    font-size: 1.5rem;
}

@media only screen and (max-width: 860px) {
    .tn_header-searchBar {
        min-width: 18rem;
    }
}

@media only screen and (max-width: 670px) {
    .tn_header-content {
        justify-content: space-between;
    }

    .tn_icons-section {
        gap: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .tn_header-searchBar {
        min-width: 5rem;
    }
}

@media only screen and (max-width: 480px) {
    .tn_header-searchBar {
        display: none;
    }

    .tn_header-search-icon {
        display: block;
    }
}

@media only screen and (max-width: 330px) {
    .tn_icons-section {
        gap: 0.8rem;
    }

    .header-icon {
        font-size: 1.2rem;
    }
}


